@import url("https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.header {
  justify-content: center;
  background-color: #000000;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
}

.greeting {
  font-style: bold;
}

.hero {
position: relative;
height: 965px;
}

.image{
  position: relative;
  object-fit: cover;
  width: 100vw;
  opacity: 0.5;
}

.container {
  position: absolute;
  top:15px;
  left: 50%;
  transform: translate(-50%);
  border-radius: 5px;
  width: 80%;
  display: flex;
  justify-content: center;
  background-color: RGB(0,0,0,0.7);
  z-index: 1;
}

.form {
  width: 90%;
  margin: 5%;
  color: #fff;
}

.details {
  width: 100%;
  border-radius: 5px;
  height: 40px;
}

button {
  background-color: rgb(50, 255, 50);
  height: 40px;
  border: none;
  border-radius: 5px;
}

button:hover{
  background-color: #fff;
  transition: 0.2s ease-in;
}

input{
  border: none;
}

.footer{
  display: flex;
  flex-direction: column;
  background-color:#000000;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  color: white;
}

.footerwrapper{
  width: 90%;
  display: flex;
  justify-content: space-around;
}

h2{
  text-decoration: underline;
}

.socialmedia{
  width: 40%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
  
  .team{
  width: 40%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a,li{
  text-decoration: none;
  color: white;
  font-style: italic;
}
